

<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/_default}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Login Form</title>
    <meta charset="UTF-8">
    <th:block layout:fragment="styles">
        <link rel="stylesheet" th:href="@{/assets/web/css/login.css}">
    </th:block>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center" >
            <div class="col-sm-6 mt-2" style="background-color: #f6f6f6; padding-bottom: 20px; padding: 20px; border-radius: 20px; ">
                <div style="display:flex">
                    <div>
                        <img th:src="@{/assets/images/logo_title_top.png}" style="width: 250px;" />
                    </div>
                </div>
                <div style="margin-bottom:20px">
                    <div class="txtTitle" style="margin-top:60px;">Welcome back,</div>
                    <div class="txtTitle">Password has been expired.</div>
                </div>
                <form class="need-validate" novalidate>
                    <div class="row">
                        <div class="col-12">
                            <label for="txtNewPass" class="form-label">New Password</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                                <input type="password" class="form-control" id="txtNewPass" placeholder="New Password" required>
                                <div class="invalid-feedback">This new password field is required.</div>
                                <div id="idPasswordValidate"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <label for="txtComfirmPass" class="form-label">Confirm Password</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                                <input type="password" class="form-control" id="txtComfirmPass" placeholder="Password" required>
                                <div class="invalid-feedback">This confirm password field is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center align-items-center">
                        <button id="btnSubmit" type="submit" class="cssbuttons-io-button mt-3" style="width: 150px;">
                            Submit
                            <div class="icon">
                                <svg
                                        height="24"
                                        viewBox="0 0 24 24"
                                        width="24"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path
                                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                                            fill="currentColor"
                                    ></path>
                                </svg>
                            </div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="scripts">
    <script th:inline="javascript">

        //FORM LOAD
        $(document).ready(function () {

        });
        //FORM LOAD

        // Hold screen to validation
        var form = document.getElementsByClassName('need-validate');
        var validation = Array.prototype.filter.call(form, function (forms) {
            forms.addEventListener('submit', function (event) {
                if (forms.checkValidity() == false) {
                    event.preventDefault();
                }
                else {
                    event.preventDefault();
                    if ($('#txtNewPass').val() == $('#txtComfirmPass').val()) {

                        var PASSWORD = $('#txtNewPass').val();

                        var json={
                            password: PASSWORD
                        };

                        $.ajax({
                            type: "POST",
                            url: "api/v1/auth/change-exp-password",
                            contentType: 'application/json',
                            dataType: 'json',
                            data: JSON.stringify(json),
                            success: function (response) {
                                console.log(response)
                                if (response.ErrCode === 0){
                                    window.location.href = "/OpenAcct/register-by-staff";
                                    // window.location.href = "/register-by-staff";
                                }
                            }
                        });
                    }
                    else {
                        Toast.fire({
                            icon: 'error',
                            title: "Password Not Matching."
                        })
                    }
                }
                forms.classList.add('was-validated');
            }, false);
        });
        function customValidatePassword(inputId, errorMessageId, errorText) {
            var input = document.getElementById(inputId);
            var errorMessage = document.getElementById(errorMessageId);
            var pattern = /^(?=.*[!@#\$%\^&\*])(?=.*[A-Z])(?=.*[a-z])(?=.{8,})/;

            input.addEventListener('blur', function() {
                var value = input.value;
                if (!pattern.test(value)) {
                    errorMessage.textContent = errorText;
                    errorMessage.style.display = 'block';
                    errorMessage.classList.add('invalid-feedback');
                    input.setCustomValidity("Invalid input");
                } else {
                    errorMessage.style.display = 'none';
                    errorMessage.classList.remove('invalid-feedback');
                    input.setCustomValidity(""); // Clear the custom validity
                }
            });
        }
        customValidatePassword('txtNewPass','idPasswordValidate','Invalid password. Password must be at least 8 characters long, include special characters, and have both uppercase and lowercase letters.')
    </script>
</th:block>
</body>

</html>









