<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/_default}"
      xmlns="http://www.w3.org/1999/html" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration Form</title>
    <meta charset="UTF-8">
    <th:block layout:fragment="styles">
        <link rel="stylesheet" th:href="@{/assets/web/css/register-form.css}">
        <link rel="stylesheet" th:href="@{/assets/web/css/loading.css}">

    </th:block>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm">
                <h2 class="text-dark cpb-text-head pt-4 pb-2" th:text="#{register.title}">Account Online Register</h2>
                <div class="py-3">
                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
                        <h5 class="alert-heading">Successfully..!</h5>
                        <span class="message"></span>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                    </div>
                    <div class="alert alert-info alert-dismissible fade show" role="alert" style="display: none;">
                        <h5 class="alert-heading">Already Existed..!</h5>
                        <span class="message"></span>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none;">
                        <h5 class="alert-heading">Failed..!</h5>
                        <span class="message"></span>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                    </div>
                    <!-- START FORM -->
                    <form class="need-novalidate-new" id="idFormRegister" novalidate>
                        <input autocomplete="off" class="form-control cpb-form-control" id="issuedDate" required th:attr="placeholder=#{register.issuedDate}" type="text" style="display: none">
                        <input autocomplete="off" class="form-control cpb-form-control" id="expiredDate" required th:attr="placeholder=#{register.expiredDate}" type="text" style="display: none">

                        <input id="submitLabel" th:value="#{register.submitting}" type="hidden">
                        <div class="row gap-3 mb-3">
                            <div class="col-sm text-center">
                                <div class="form-group">
                                    <label for="legalIdImage" th:text="#{register.identityImage}"></label>
                                    <label class="mt-2" for="legalIdImage">
                                        <img class="img-fluid w-100"
                                             id="legalIdImageDisplay"
                                             style="height: 17rem; width: 27rem !important; cursor: pointer"
                                             th:src="@{/assets/images/National_ID_selfie.png}"/>
                                    </label>
                                    <input accept="image/png, image/gif, image/jpeg" id="legalIdImage"
                                           name="legalIdImage"
                                           required style="visibility: hidden"
                                           type="file">
                                    <div class="invalid-feedback">The field is required.</div>
                                </div>
                            </div>
                            <div class="col-sm text-center">
                                <div class="form-group">
                                    <label for="frontImage" th:text="#{register.selfieImage}"></label>
                                    <label class="mt-2" for="frontImage">
                                        <img class="img-fluid w-100" id="imgFrontImageDisplay"
                                             style="height: 17rem; width: 27rem !important; cursor: pointer"
                                             th:src="@{/assets/images/image_selfie.jpg}"/>
                                    </label>
                                    <input accept="image/png, image/gif, image/jpeg" id="frontImage" name="frontImage"
                                           required
                                           style="visibility: hidden" type="file">
                                    <div class="invalid-feedback">The field is required.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label class="form-label" for="lastNameKh" th:text="#{register.lastNameKh}">Given
                                            Name</label>
                                        <input class="form-control" id="lastNameKh" name="lastNameKh"
                                               required
                                               th:attr="placeholder=#{register.lastNameKh}"
                                               type="text"/>
                                        <div class="invalid-feedback">The field is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label class="form-label" for="firstNameKh"
                                               th:text="#{register.firstNameKh}"></label>
                                        <input class="form-control" id="firstNameKh" name="familyNameKhmer"
                                               required
                                               th:attr="placeholder=#{register.firstNameKh}"
                                               type="text"/>
                                        <div class="invalid-feedback">The field is required.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label class="form-label" for="familyName"
                                               th:text="#{register.familyName}"></label>
                                        <input class="form-control" id="familyName" name="familyName"
                                               required
                                               th:attr="placeholder=#{register.familyName}"
                                               type="text"/>
                                        <div class="invalid-feedback">The field is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label class="form-label" for="givenName" th:text="#{register.givenName}">Given
                                            Name</label>
                                        <input class="form-control" id="givenName" name="givenName"
                                               required
                                               th:attr="placeholder=#{register.givenName}"
                                               type="text"/>
                                        <div class="invalid-feedback">The field is required.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label class="form-label" for="dateOfBirth"
                                               th:text="#{register.dateOfBirth}">Date Of Birth </label>
                                        <div class="input-group date">
                                            <label class="input-group-text" for="dateOfBirth">
                                                <svg class="bi bi-calendar2-date" fill="currentColor" height="16"
                                                     viewBox="0 0 16 16" width="16"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M6.445 12.688V7.354h-.633A12.6 12.6 0 0 0 4.5 8.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"></path>
                                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"></path>
                                                    <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"></path>
                                                </svg>
                                            </label>
                                            <input autocomplete="off" class="form-control cpb-form-control"
                                                   id="dateOfBirth"
                                                   required
                                                   th:attr="placeholder=#{register.dateOfBirth}"
                                                   type="text">
                                            <div class="invalid-feedback">The field is required.</div>
                                            <div id="dateOfBirthErrorMessage"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label class="form-label" for="gender"
                                               th:text="#{register.gender}">Gender</label>
                                        <select class="form-select" id="gender" required>
                                            <option  disabled selected  th:text="#{register.option}" value=""></option>
                                            <option th:text="#{register.gender.male}" th:value="'MALE'"></option>
                                            <option th:text="#{register.gender.female}"
                                                    th:value="'FEMALE'"></option>
                                        </select>
                                        <div class="invalid-feedback">The field is required.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label class="form-label" for="legalDocName"
                                               th:text="#{register.legalType}">Legal Type</label>
                                        <select class="form-select" id="legalDocName" required>
                                            <option disabled selected th:text="#{register.option}" value=""></option>
                                            <option th:text="#{register.legalDocName.nationalId}"
                                                    th:value="'NATIONAL.ID'"></option>
                                        </select>
                                        <div class="invalid-feedback">The field is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label class="form-label" for="legalId" th:text="#{register.legalId}">Legal
                                            ID </label>
                                        <input class="form-control" id="legalId" maxlength="9" minlength="9"
                                               required
                                               th:attr="placeholder=#{register.legalId}"
                                               type="number">
                                        <div class="invalid-feedback">The field is required.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label class="form-label" for="customerAddress"
                                               th:text="#{register.customerAddress}"></label>
                                        <input class="form-control" id="customerAddress" name="customerAddress"
                                               required
                                               th:attr="placeholder=#{register.customerAddress}"
                                               type="text">
                                        <div class="invalid-feedback">The field is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label class="form-label" for="customerPlaceOfBirth"
                                               th:text="#{register.customerPlaceOfBirth}">
                                            customerPlaceOfBirth</label>
                                        <input class="form-control" id="customerPlaceOfBirth"
                                               name="customerPlaceOfBirth"
                                               required
                                               th:attr="placeholder=#{register.customerPlaceOfBirth}"
                                               type="text">
                                        <div class="invalid-feedback">The field is required.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-ms">
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label class="form-label" for="maritalStatus"
                                               th:text="#{register.maritalStatus}">Marital Status </label>
                                        <select class="form-select" id="maritalStatus" required>
                                            <option  disabled selected  th:text="#{register.option}" value=""></option>
                                            <option th:text="#{register.maritalStatus.single}"
                                                    th:value="'SINGLE'"></option>
                                            <option th:text="#{register.maritalStatus.married}"
                                                    th:value="'MARRIED'"></option>
                                            <option th:text="#{register.maritalStatus.widower}"
                                                    th:value="'WIDOWER'"></option>
                                            <option th:text="#{register.maritalStatus.widow}"
                                                    th:value="'WIDOW'"></option>
                                        </select>
                                        <div class="invalid-feedback">The field is required.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label class="form-label" for="occupation" th:text="#{register.occupation}">Occupation:</label>
                                        <select class="form-select" id="occupation" required>
                                            <option  disabled selected  th:text="#{register.option}" value=""></option>
                                            <option th:text="#{register.occupation.selfEmployed}"
                                                    th:value="'Self-Employed'"></option>
                                            <option th:text="#{register.occupation.employee}"
                                                    th:value="'Employee'"></option>
                                            <option th:text="#{register.occupation.farmer}"
                                                    th:value="'Farmer'"></option>
                                            <option th:text="#{register.occupation.student}"
                                                    th:value="'Student'"></option>
                                            <option th:text="#{register.occupation.housewife}"
                                                    th:value="'Housewife'"></option>
                                            <option th:text="#{register.occupation.retired}"
                                                    th:value="'Retired'"></option>
                                        </select>
                                        <div class="invalid-feedback">The field is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label class="form-label" for="ddlBranch"
                                               th:text="#{register.branch}">Branch</label>
                                        <select class="form-select" id="ddlBranch" required>
                                            <option  disabled selected  th:text="#{register.option}" value=""></option>
                                        </select>
                                        <div class="invalid-feedback">The field is required.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <label class="form-label align-self-center" for="company" id="lbl-company"
                                       th:text="#{register.referal}"> </label>
                                <input id="company" name="company" th:value="*{company}" type="hidden">
                                <div class="input-group mb-3 form-group">
                                    <div class="input-group">
                                        <button aria-expanded="false" class="btn btn-outline-secondary dropdown-toggle"
                                                data-bs-toggle="dropdown" id="btn-dropdown"
                                                th:text="#{register.referal.cpb}"
                                                type="button">Choose Enterprise
                                        </button>
                                        <ul class="dropdown-menu" id="dropdown-menu">
                                            <li class="dropdown-item mouse-pointer" data-text="CPBANK" id="CPBANK"
                                                th:text="#{register.referal.cpb}"></li>
                                            <li class="dropdown-item mouse-pointer" data-text="FUNAN" id="FUNAN"
                                                th:text="#{register.referal.funan}"></li>
                                            <li class="dropdown-item mouse-pointer" data-text="OTHERS" id="OTHERS"
                                                th:text="#{register.referal.others}"></li>
                                        </ul>
                                        <input aria-label="Text input with dropdown button" class="form-control"
                                               id="staffCode"
                                               th:attr="placeholder=#{register.staffCode}"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label class="form-label" for="contactNumber"
                                               th:text="#{register.contactNumber}">Contact Number</label>
                                        <input class="form-control" id="contactNumber" maxlength="10"
                                               required th:attr="placeholder=#{register.contactNumber}"
                                               type="text">
                                        <div class="invalid-feedback">The field is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="mb-3">
                                    <div class="form-group">
                                        <div class="d-flex flex-row justify-content-between">
                                            <label class="form-label align-self-center" for="otpCode"
                                                   th:text="#{register.otpCode}">OTP Code</label>
                                            <button class="btn btn-link btn-sm" onclick="sendOtp()" type="button">
                                                Resend OTP
                                            </button>
                                        </div>
                                        <input class="form-control" id="otpCode" maxlength="6" name="otpCode"
                                               required th:attr="placeholder=#{register.otpCode}" type="text">
                                        <div class="invalid-feedback">The field is required.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-end mt-4 mb-5">
                            <div class="col-sm">
                                <button class="btn btn-primary ms-auto px-5 rounded-2" id="btnValidate" th:text="#{register.validate}"
                                        type="submit">Validate
                                </button>
                                <button class="btn btn-primary ms-auto px-5 rounded-2 disabled" id="btnSubmit"
                                        th:text="#{register.submit}" type="submit">Submit
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM -->
                    <!-- START MODAL 1 -->
                    <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
                         id="idFormUser1" role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="modal-title"><img th:src="@{/assets/icon/address.png}"/><span
                                            class="txtTitle" style="margin-top:10px;">អាស័យដ្ធានមិនអាចរកឃើញក្នុងប្រព័ន្ធទេ</span>
                                    </div>
                                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                            type="button"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="need-novalidate-address" id="form1" novalidate>
                                        <div class="basic-login-inner">
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                        <b style="width:100%;"><span class="sky"
                                                                                     style="color: red">*</span>សូមជ្រើសរើសអាស័យដ្ធាន:
                                                        </b>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                        <div class="d-flex">
                                                            <span><span class="sky" style="color: red">*</span> ខេត្ត/ក្រុង</span>
                                                            <div class="myloader" id="loadingProvince1"></div>
                                                        </div>
                                                        <select class="form-select" id="province1" required>
                                                        </select>
                                                        <div class="invalid-feedback">The field is required.
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                        <div class="d-flex">
                                                            <span><span class="sky" style="color: red">*</span> ស្រុក/ខណ្ឌ</span>
                                                            <div class="myloader" id="loadingDistrict1"></div>
                                                        </div>
                                                        <select class="form-select" id="district1" required>
                                                        </select>
                                                        <div class="invalid-feedback">The field is required.
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                        <div class="d-flex">
                                                            <span><span class="sky" style="color: red">*</span> ឃុំ/សង្កាត់   </span>
                                                            <div class="myloader" id="loadingCommune1"></div>
                                                        </div>
                                                        <select class="form-select" id="commune1" required>
                                                        </select>
                                                        <div class="invalid-feedback">The field is required.
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                        <div class="d-flex">
                                                   <span><span class="sky"
                                                               style="color: red">*</span>ភូមិ</span>
                                                            <div class="myloader" id="loadingVillage1"></div>
                                                        </div>
                                                        <select class="form-select" id="village1" required>
                                                        </select>
                                                        <div class="invalid-feedback">The field is required.
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr/>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                        <b style="width:100%;"><span class="sky"
                                                                                     style="color: red">*</span>សូមជ្រើសរើសទីកន្លែងកំណើត:
                                                        </b>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                        <div class="d-flex">
                                                            <span><span class="sky" style="color: red">*</span> ខេត្ត/ក្រុង</span>
                                                            <div class="myloader" id="loadingProvincePOB1"></div>
                                                        </div>
                                                        <select class="form-select" id="provincePOB1" required>
                                                        </select>
                                                        <div class="invalid-feedback">The field is required.
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                        <div class="d-flex">
                                                            <span><span class="sky" style="color: red">*</span> ស្រុក/ខណ្ឌ</span>
                                                            <div class="myloader" id="loadingDistrictPOB1"></div>
                                                        </div>
                                                        <select class="form-select" id="districtPOB1" required>
                                                        </select>
                                                        <div class="invalid-feedback">The field is required.
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                        <div class="d-flex">
                                                            <span><span class="sky" style="color: red">*</span> ឃុំ/សង្កាត់   </span>
                                                            <div class="myloader" id="loadingCommunePOB1"></div>
                                                        </div>
                                                        <select class="form-select" id="communePOB1" required>
                                                        </select>
                                                        <div class="invalid-feedback">The field is required.
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                        <div class="d-flex">
                                                   <span><span class="sky"
                                                               style="color: red">*</span>ភូមិ</span>
                                                            <div class="myloader" id="loadingVillagePOB1"></div>
                                                        </div>
                                                        <select class="form-select" id="villagePOB1" required>
                                                        </select>
                                                        <div class="invalid-feedback">The field is required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" id="btnSaveAddressFormAll" type="submit">
                                                Save All
                                            </button>
                                            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                                                Close
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END MODAL 1 -->
                    <!-- START MODAL 2 -->
                    <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
                         id="idFormUser2" role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="modal-title"><img th:src="@{/assets/icon/address.png}"/><span
                                            class="txtTitle" style="margin-top:10px;">អាស័យដ្ធានមិនអាចរកឃើញក្នុងប្រព័ន្ធទេ</span>
                                    </div>
                                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                            type="button"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="need-novalidate-address" id="form2" novalidate>
                                        <div class="basic-login-inner">
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                        <b style="width:100%;"><span class="sky"
                                                                                     style="color: red">*</span>សូមជ្រើសរើសអាស័យដ្ធាន:
                                                        </b>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                        <div class="d-flex">
                                                            <span><span class="sky" style="color: red">*</span> ខេត្ត/ក្រុង</span>
                                                            <div class="myloader" id="loadingProvince2"></div>
                                                        </div>
                                                        <select class="form-select" id="province2" required>
                                                        </select>
                                                        <div class="invalid-feedback">The field is required.
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                        <div class="d-flex">
                                                            <span><span class="sky" style="color: red">*</span> ស្រុក/ខណ្ឌ</span>
                                                            <div class="myloader" id="loadingDistrict2"></div>
                                                        </div>
                                                        <select class="form-select" id="district2" required>
                                                        </select>
                                                        <div class="invalid-feedback">The field is required.
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                        <div class="d-flex">
                                                            <span><span class="sky" style="color: red">*</span> ឃុំ/សង្កាត់   </span>
                                                            <div class="myloader" id="loadingCommune2"></div>
                                                        </div>
                                                        <select class="form-select" id="commune2" required>
                                                        </select>
                                                        <div class="invalid-feedback">The field is required.
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                        <div class="d-flex">
                                                   <span><span class="sky"
                                                               style="color: red">*</span>ភូមិ</span>
                                                            <div class="myloader" id="loadingVillage2"></div>
                                                        </div>
                                                        <select class="form-select" id="village2" required>
                                                        </select>
                                                        <div class="invalid-feedback">The field is required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" id="btnSaveAddress" type="submit">Save
                                            </button>
                                            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                                                Close
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END MODAL 2 -->
                    <!-- START MODAL 3 -->
                    <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
                         id="idFormUser3" role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="modal-title"><img th:src="@{/assets/icon/address.png}"/><span
                                            class="txtTitle" style="margin-top:10px;">ទីកន្លែងកំណើតមិនអាចរកឃើញក្នុងប្រព័ន្ធទេ</span>
                                    </div>
                                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                            type="button"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="need-novalidate-address" id="form3" novalidate>
                                        <div class="basic-login-inner">
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                        <b style="width:100%;"><span class="sky"
                                                                                     style="color: red">*</span>សូមជ្រើសរើសទីកន្លែងកំណើត:
                                                        </b>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                        <div class="d-flex">
                                                            <span><span class="sky" style="color: red">*</span> ខេត្ត/ក្រុង</span>
                                                            <div class="myloader" id="loadingProvincePOB3"></div>
                                                        </div>
                                                        <select class="form-select" id="provincePOB3" required>
                                                        </select>
                                                        <div class="invalid-feedback">The field is required.
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                        <div class="d-flex">
                                                            <span><span class="sky" style="color: red">*</span> ស្រុក/ខណ្ឌ</span>
                                                            <div class="myloader" id="loadingDistrictPOB3"></div>
                                                        </div>
                                                        <select class="form-select" id="districtPOB3" required>
                                                        </select>
                                                        <div class="invalid-feedback">The field is required.
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                        <div class="d-flex">
                                                            <span><span class="sky" style="color: red">*</span> ឃុំ/សង្កាត់   </span>
                                                            <div class="myloader" id="loadingCommunePOB3"></div>
                                                        </div>
                                                        <select class="form-select" id="communePOB3" required>
                                                        </select>
                                                        <div class="invalid-feedback">The field is required.
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                        <div class="d-flex">
                                                   <span><span class="sky"
                                                               style="color: red">*</span>ភូមិ</span>
                                                            <div class="myloader" id="loadingVillagePOB3"></div>
                                                        </div>
                                                        <select class="form-select" id="villagePOB3" required>
                                                        </select>
                                                        <div class="invalid-feedback">The field is required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" id="btnSaveAddressPOB" type="submit">Save
                                            </button>
                                            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                                                Close
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END MODAL 3 -->
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="scripts">
    <script th:src="@{/assets/web/utils/custom-validation.js}"></script>
    <!--    <script th:src="@{/assets/web/utils/disable_developer_mode.js}"></script>-->
    <script th:src="@{/assets/web/js/customer/register-form.js}"></script>
    <script th:src="@{/assets/web/js/loading.js}"></script>
    <script th:src="@{/assets/web/js/customer/modal1.js}"></script>
    <script th:src="@{/assets/web/js/customer/modal2.js}"></script>
    <script th:src="@{/assets/web/js/customer/modal3.js}"></script>
    <script th:inline="javascript">
        $('#legalId').prop('readonly', true);
        $(function () {
            const companyHiddenFieldId = $('#company').val() || 'CPBANK';
            $('#btn-dropdown').text($('#' + companyHiddenFieldId).text());
            $('#company').val(companyHiddenFieldId);
            $('#dropdown-menu').on('click', 'li', function (evt) {
                $('#btn-dropdown').text($(this).text());
                $('#company').val($(this).data('text'));
            })
        })
    </script>
</th:block>
</body>
</html>