<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/_default}"
      xmlns="http://www.w3.org/1999/html" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration Form</title>
    <meta charset="UTF-8">

    <th:block layout:fragment="styles">
        <link rel="stylesheet" th:href="@{/assets/web/css/home.css}">
        <link rel="stylesheet" th:href="@{/assets/web/css/index.css}">
    </th:block>
    <style>

    </style>

</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center" style="margin-top: 10%;">
            <div class="card" style="background-color: white">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6 col-md-6 mb-4">
                            <div class="card">
                                <div class="card-body" style="background-color: #dcf1fd;">
                                    <a th:href="@{/register-by-staff}">
                                        <div class="card border-left-success shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center" style="height: 80px;">
                                                    <div class="col mr-2">
                                                        <div class="text-2xs font-weight-bold text-success text-uppercase mb-1" th:text="#{register.openAccountByStaff}">

                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <img th:src="@{/assets/icon/staff.png}" style="width: 50px;height: 50px;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 mb-4">
                            <div class="card">
                                <div class="card-body" style="background-color: #dcf1fd;">
                                    <a th:href="@{/register-by-customer}">
                                        <div class="card border-left-success shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center" style="height: 80px;">
                                                    <div class="col mr-2">
                                                        <div class="text-2xs font-weight-bold text-success text-uppercase mb-1" th:text="#{register.openAccountByCustomer}">

                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <img th:src="@{/assets/icon/customer.png}" style="width: 50px;height: 50px;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="scripts">
    <script th:src="@{/assets/dash/js/sb-admin-2.min.js}"></script>
    <script th:inline="javascript">

    </script>
</th:block>
</body>
</html>