html, body{
    height:100%;
    width:100%;
}
@keyframes fadeIn {
    from {transition: ease-in;}
    to {transition: ease-out}
}
.bg-color{
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
}
.cpb-logo{
    width: 182px;
}
.cpb-logo-blog{
    height: auto;
    background: #dcf1fd;
}
.cpb-navbar{
    padding-top: 4px;
    background: #0077b8;
    /*border: 2px solid #efefef;*/
    /*box-shadow: 2px 1px 3px #d5d5d5;*/
}

.cpb-text-head{
    font-size: 22px;
}
.cpb-form{

}
.btn-primary{
    background: #f59053;
    border-color: #f59053;
}

.btn-primary:hover{
    background: #e7874e;
    border-color: #e7874e;
}
.btn-primary:focus{
    background: #e7874e !important;
    border-color: #e7874e !important;
}
.btn-primary.disabled, .btn-primary:disabled, fieldset:disabled .btn {
    color: var(--bs-btn-disabled-color);
    pointer-events: none;
    background-color: #e7874e !important;
    border-color: #e7874e !important;
    opacity: var(--bs-btn-disabled-opacity);
}
/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background: #e7874e;

}

span.error {
    color: #dc3545;
    font-size: 12px;
    font-weight: 600;
    display: block;
    margin-top: 5px;
}

.form-control, .form-select{
    border: 1px solid #d4dbe5 !important;
    /*outline: 3px solid #e5f0ff !important;*/
    border-radius: 3px !important;
}
/*.form-label{*/
/*    font-weight: bold;*/
/*}*/
.input-group-text{
    background: white !important;
    border: 1px solid #d4dbe5 !important;
    /*border-right: 0 !important;*/
    /*outline: 3px solid #e5f0ff !important;*/
    /*border-radius: 3px !important;*/
}
.cpb-form-control{
    border-left: none !important;
}
.fadeIn {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media (min-width: 576px) {
    .cpb-navbar{
        padding-top: 2px;
        background: white;
    }
}

@media (min-width: 768px) {
    .cpb-navbar{
        padding-top: 2px;
        background: white;
    }
}

@media (min-width: 992px) {
    .cpb-navbar{
        padding-top: 2px;
        background: white;
    }

}

@media (min-width: 280px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }
}

.mouse-pointer:hover{
    cursor: pointer;
}


@media (min-width: 1400px) { }


@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

/*Desktop screen or up*/
@media (min-width: 992px) {
    .container {
        width: 75%;
        margin: 0 auto;
    }}

@media (min-width: 1200px) {  }

@media (min-width: 1400px) {  }

.cssbuttons-io-button {
    background: #fc7d2a;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #fc7d2a;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #fc7d2a;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #fc7d2a;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}