
<script th:src="@{/assets/AuthAssets/assets/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/AuthAssets/assets/libs/metismenujs/metismenujs.min.js}"></script>
<script th:src="@{/assets/AuthAssets/assets/libs/simplebar/simplebar.min.js}"></script>
<script th:src="@{/assets/AuthAssets/assets/libs/feather-icons/feather.min.js}"></script>
<script th:src="@{/assets/AuthAssets/assets/js/app.js}"></script>
<script th:src="@{/assets/AuthAssets/assets/libs/flatpickr/flatpickr.min.js}"></script>

