
<script th:src="@{/assets/js/jquery/v3.7.1/jquery.min.js}"></script>

<!-- Bootstrap Css -->
<link th:href="@{/assets/AuthAssets/assets/css/bootstrap.min.css}" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link th:href="@{/assets/AuthAssets/assets/css/app.min.css}" id="app-style" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/AuthAssets/assets/libs/flatpickr/flatpickr.min.css}" rel="stylesheet" />
<link th:href="@{/assets/AuthAssets/assets/icons/icons.min.css}" rel="stylesheet" />
<link th:href="@{/assets/AuthAssets/assets/icons/icons.min.css}" rel="stylesheet" />
<link th:href="@{/assets/AuthAssets/assets/fontawesome-free-6.6.0-web/css/all.min.css}" rel="stylesheet" />
<script th:src="@{/assets/js/sweetalert2.all.min.js}"></script>