<!DOCTYPE html>
<html lang="kh" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Account Online</title>
    <style th:replace="/shared/style"></style>
            }
    <th:block layout:fragment="styles"></th:block>
</head>
    <div th:replace="/shared/header"></div>
    <div layout:fragment="content"> </div>
<!-- Call script -->
<div th:replace="/shared/script"></div>
<th:block layout:fragment="scripts"> </th:block>
</body>
</html>