<link rel="icon" th:href="@{/assets/icon/cpbank.ico}"/>
<link rel="stylesheet" th:href="@{/assets/css/style.css}">
<link rel="stylesheet" th:href="@{/assets/bootstrap/v5.2.2/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/bootstrap/v5.2.2/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/assets/js/datetimepicker/jquery.datetimepicker.css}">
<link rel="stylesheet" th:href="@{/assets/bootstrap/v5.2.2/datepicker/css/datepicker.css}">
<script th:src="@{/assets/js/jquery/v3.4.0/jquery.min.js}"></script>
<script th:src="@{/assets/js/sweetalert2.all.min.js}"></script>