<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/authLayout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Login Form</title>
    <meta charset="UTF-8">

    <th:block layout:fragment="styles">
        <link rel="stylesheet" th:href="@{/assets/web/css/login.css}">
        <link rel="stylesheet" th:href="@{/assets/web/css/loading.css}">
    </th:block>

    <style>
        /* Custom CSS to remove the default icon from novalidate */
        /*.form-control:invalid {*/
        /*    background-image: none !important;*/
        /*}*/

    </style>
</head>
<body>
<th:block layout:fragment="content">
    <div class="authentication-bg min-vh-100">
        <div class="bg-overlay bg-light"></div>
        <div class="container">
            <div class="d-flex flex-column min-vh-100 px-3 pt-4">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-lg-6 col-xl-5">

                        <div class="card">
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <img th:src="@{assets/images/cp_logo.png}" style="height: 50px;"/>
                                </div>
                                <div class="text-center mt-3">
                                    <h5>Welcome Back !</h5>
                                    <p class="text-muted">Password has been expired. Please change it.</p>
                                </div>
                                <div class="p-2 mt-3">
                                    <form class="need-validate" novalidate>

                                        <div class="mt-3">
                                            <label class="form-label password-label" for="txtNewPass">
                                                New Password
                                            </label>

                                            <div class="input-group">
                                                <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                                                <input type="password" class="form-control" id="txtNewPass" required placeholder="Enter New Password">

                                                <div class="invalid-feedback">
                                                    Please enter your new password.
                                                </div>
                                                <div id="idPasswordValidate"></div>

                                            </div>
                                        </div>

                                        <div class="mt-3 position-relative">
                                            <label class="form-label" for="txtConfirmPass">Confirm Password</label>
                                            <div class="input-group">
                                                <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                                                <input type="password" class="form-control" id="txtConfirmPass" required placeholder="Enter Confirm Password">
                                                <div class="invalid-feedback">
                                                    Please enter your confirm password.
                                                </div>

                                            </div>
                                        </div>

                                        <div class="mt-3 justify-content-center align-items-center text-center">
                                            <input type="checkbox" id="chkShowPassword" class="form-check-input" onclick="togglePassword()">
                                            <span style="margin-left: 3px"> Show Password</span>
                                        </div>

                                        <div class="mt-3">
                                            <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Submit</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>

                    </div><!-- end col -->
                </div><!-- end row -->

<!--                <div class="row">-->
<!--                    <div class="col-lg-12">-->
<!--                        <div class="text-center p-4">-->
<!--                            <p>-->
<!--                                ©-->
<!--                                <script>document.write(new Date().getFullYear())</script>-->
<!--                                - CPBank-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

            </div>
        </div><!-- end container -->
    </div>
</th:block>

<th:block layout:fragment="scripts">
    <script th:src="@{/assets/web/js/loading.js}"></script>
    <script th:inline="javascript">

        //FORM LOAD
        $(document).ready(function () {

        });

        function togglePassword() {
            var newPass = document.getElementById("txtNewPass");
            var confirmPass = document.getElementById("txtConfirmPass");
            var showPasswordCheckbox = document.getElementById("chkShowPassword");

            if (showPasswordCheckbox.checked) {
                newPass.type = "text";
                confirmPass.type = "text";
            } else {
                newPass.type = "password";
                confirmPass.type = "password";
            }
        }

        // Hold screen to validation
        var form = document.getElementsByClassName('need-validate');
        var validation = Array.prototype.filter.call(form, function (forms) {
            forms.addEventListener('submit', function (event) {
                if (forms.checkValidity() == false) {
                    event.preventDefault();
                }
                else {
                    event.preventDefault();

                    if ($('#txtNewPass').val() == $('#txtConfirmPass').val()) {

                        var PASSWORD = $('#txtNewPass').val();

                        var json={
                            password: PASSWORD
                        };

                        console.log(JSON.stringify(json));

                        showLoading();
                        $.ajax({
                            type: "POST",
                            url: "api/v1/auth/change-exp-password",
                            contentType: 'application/json',
                            dataType: 'json',
                            data: JSON.stringify(json),
                            success: function (response) {
                                hideLoading();
                                console.log(response)
                                if (response.ErrCode === 0){
                                    window.location.href = "/OpenAcct/register-by-staff";
                                    // window.location.href = "/register-by-staff";
                                }else{
                                    Swal.fire({
                                        title: "Failed..!",
                                        text: response.ErrMsg,
                                        icon: "error",
                                        showConfirmButton: true,
                                        timer: 12000,
                                        timerProgressBar: true
                                    });
                                }
                            }
                        });
                    }
                    else {
                        hideLoading();
                        Toast.fire({
                            icon: 'error',
                            title: "Password Not Matching."
                        })
                    }
                }
                forms.classList.add('was-validated');
            }, false);
        });


        function customValidatePassword(inputId, errorMessageId, errorText) {
            var input = document.getElementById(inputId);
            var errorMessage = document.getElementById(errorMessageId);
            var pattern = /^(?=.*[!@#\$%\^&\*])(?=.*[A-Z])(?=.*[a-z])(?=.{8,})/;

            input.addEventListener('blur', function() {
                var value = input.value;
                if (!pattern.test(value)) {
                    errorMessage.textContent = errorText;
                    errorMessage.style.display = 'block';
                    errorMessage.classList.add('invalid-feedback');
                    input.setCustomValidity("Invalid input");
                } else {
                    errorMessage.style.display = 'none';
                    errorMessage.classList.remove('invalid-feedback');
                    input.setCustomValidity(""); // Clear the custom validity
                }
            });
        }

        customValidatePassword('txtNewPass', 'idPasswordValidate', 'Invalid password. Password must be at least 8 characters long, include special characters, and have both uppercase and lowercase letters.');

    </script>
</th:block>
</body>

</html>









