
<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <title>Maintenance | CPBank</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
  <meta content="Pichforest" name="author" />
  <!-- App favicon -->
  <!--    <link rel="shortcut icon" th:href="assets/images/favicon.ico">-->

  <!-- Bootstrap Css -->
  <link th:href="@{/assets/AuthAssets/assets/css/bootstrap.min.css}" id="bootstrap-style" rel="stylesheet" type="text/css" />
  <!-- Icons Css -->
  <link th:href="@{/assets/AuthAssets/assets/css/icons.min.css}" rel="stylesheet" type="text/css" />
  <!-- App Css-->
  <link th:href="@{/assets/AuthAssets/assets/css/app.min.css}" id="app-style" rel="stylesheet" type="text/css" />

</head>


<body data-sidebar="dark">

<!-- <body data-layout="horizontal"> -->

<div class="pages-bg min-vh-100" style="background: url(./assets/images/bg-1.png) center center;">
  <div class="bg-overlay bg-light"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex flex-column min-vh-100">
          <div class="my-auto py-5">
            <div class="text-center mb-4 pb-1">
              <a href="index.html" class="d-block auth-logo">
                <img src="assets/images/logo-dark.png" alt="" height="26" class="auth-logo-dark">
                <img src="assets/images/logo-light.png" alt="" height="26" class="auth-logo-light">
              </a>
            </div>
            <div class="row align-items-center justify-content-center"><!-- end col -->
              <div class="col-md-5">
                <div class="mt-4">
                  <img th:src="@{/assets/AuthAssets/assets/images/maintenance.png}" class="img-fluid" alt="">
                </div>
              </div>
            </div>
            <!-- end row -->


            <div class="text-center text-muted my-5">
              <h4>Site is Under Maintenance</h4>
              <p>Please check back in sometime.</p>
            </div>


          </div>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end authentication section -->



<!-- JAVASCRIPT -->
<script th:src="@{/assets/AuthAssets/assets/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/AuthAssets/assets/libs/metismenujs/metismenujs.min.js}"></script>
<script th:src="@{/assets/AuthAssets/assets/libs/simplebar/simplebar.min.js}"></script>
<script th:src="@{/assets/AuthAssets/assets/libs/feather-icons/feather.min.js}"></script>
</body>

</html>